{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="page__content">
    <div class="container">

        {{ "<!-- Section -->" | safeHTML }}
        <article class="hero__wrap">
            {{- partial "header.html" . -}}
            {{- partial "_hero-tm.html" . -}}
        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

        {{ "<!-- Section -->" | safeHTML }}
        <article class="article">

            <div>
                {{ .Scratch.Set "label" "Introduction" }}
                {{- partial "_hgroup.html" . -}}
            </div>

            <div class="article__inner">
                {{ "<!-- Section -->" | safeHTML }}
                {{ if $data.trust_management.section_1 }} 
                {{ with $data.trust_management.section_1 }}
                    {{- partial "_section-5.html" . -}}
                {{ end }}
                {{ end }}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>

            <div class="my-4 my-sm-0">
                {{ .Scratch.Set "label" "Workflow" }}
                {{ .Scratch.Set "title" "Workflow of Trust Management" }}
                {{- partial "_hgroup.html" . -}}
            </div>

            {{ if $data.trust_management.slider }} 
            {{ with $data.trust_management.slider }}
            <div class="slide__wrap">
                <div>
                    <h3 class="slide__title">
                        {{ .title }}
                    </h3>
                    <div class="slide__sub">
                        {{ .sub_title }}
                    </div>
                    <div class="section_text">
                        {{ .description }}
                    </div>
                    {{ with .btn }}
                    <a href="{{.link}}" class="btn">{{ .label }}</a>
                    {{ end }}
                </div>

                <div class="splide" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                          <ul class="splide__list">
                            {{ range .slides }}
                              <li class="splide__slide">
                                <img src="{{ .img | relURL }}" alt="{{ .title }}">
                              </li>
                            {{ end }}
                          </ul>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}

        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

    </div>
</div>

{{ "<!-- Section -->" | safeHTML }}
<section class="section_background">
  <div class="container">
    
    {{ .Scratch.Set "label" "More Products" }}
    {{ .Scratch.Set "title" "Check Out Other Products" }}
    {{- partial "_hgroup.html" . -}}

    {{- partial "_products-tm.html" . -}}

  </div>
</section>
{{ "<!-- End of Section -->" | safeHTML }}

<div class="container">
    {{- partial "_footer.html" . -}}
</div>
{{ end }}