{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="page__content">
    <div class="container">

        {{ "<!-- Section -->" | safeHTML }}
        <article class="hero__wrap">
            {{- partial "header.html" . -}}
            {{- partial "_hero-academy.html" . -}}
        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

        {{ "<!-- Section -->" | safeHTML }}
        <article class="article">

            <div>
                {{ .Scratch.Set "label" "Introduction" }}
                {{- partial "_hgroup.html" . -}}
            </div>

            <div class="article__inner">
                {{ "<!-- Section -->" | safeHTML }}
                {{ if $data.academy.section_1 }} 
                {{ with $data.academy.section_1 }}
                    {{- partial "_section-5.html" . -}}
                {{ end }}
                {{ end }}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>

        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

    </div>
</div>

{{ "<!-- Section -->" | safeHTML }}
<section class="section_background">
  <div class="container">
    
    {{ .Scratch.Set "label" "More Products" }}
    {{ .Scratch.Set "title" "Check Out Other Products" }}
    {{- partial "_hgroup.html" . -}}

    {{- partial "_products-academy.html" . -}}

  </div>
</section>
{{ "<!-- End of Section -->" | safeHTML }}

<div class="container">
    {{- partial "_footer.html" . -}}
</div>
{{ end }}