.container
    max-width: var(--maw)
    width: 100%
    padding: 0
    +maw($md)
        max-width: 100%

.section
    &_inner
        display: grid
        grid-template-columns: 1fr 1fr
        align-items: center
        gap: 5%

        &.direction-left
            div:last-child
                order: -1

        &.direction-right
            img
                margin-right: 0
                margin-left: auto

        +maw($md)
            grid-template-columns: 1fr
            &.direction-right
                div:last-child
                    order: -1
                img
                    margin: auto
            img
                margin-left: auto
                margin-right: auto

        +maw($xs)
            gap: $gap8*2

    &_text
        margin-top: $gap8*5
        margin-bottom: $gap8*5
        +ft(17, 17*1.6, 400)
        color: $grey1
        +maw($md)
            margin-top: $gap8
            margin-bottom: $gap8*2
        +maw($xs)
            +ft(14, 14*1.6, 400)

    &_demo
        @extend %dot
        &::after
            filter: blur(100px)

        img
            display: block
            +sz(100%, 100%)
            max-width: 500px
            object-fit: cover

        figure
            position: relative
            +flex(flex, center, center, nowrap)
            padding-top: 75%
            margin: 0
            background-color: $dark
            border-radius: var(--brs28)
            overflow: hidden

            img, button
                position: absolute
                inset: 0
                margin: auto

            img
                display: block
                +sz(100%, 100%)
                object-fit: cover
                border-radius: var(--brs28)
                opacity: 0.5

        +maw($md)
            max-width: 350px
            margin-left: auto
            margin-right: auto

    &_content
        +maw($md)
            text-align: center

    &_background
        margin-top: var(--gap100)
        margin-bottom: var(--gap100)
        text-align: center
        @extend %dot

        &_inner
            @extend .col-xl-7, .mx-auto

    &_products
        margin-top: var(--gap100)
        margin-bottom: var(--gap100)

    &_related
        max-width: var(--maw-sm)
        margin-bottom: var(--gap100)
        text-align: center

        &__wrap
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr))
            gap: $gap8*3

            +maw($xs)
                grid-template-columns: 1fr

    &_video
        img
            max-width: 100%
       
    +maw($xs)
        margin: $gap8*3 auto

.article
    padding: 5%
    @extend .bg_1

    &__inner
        margin: var(--gap50) 0
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
        +maw($md)
            margin: 50px auto 100px
        +maw($xs)
            margin: 0 auto
           

    