.blogs
    position: relative
    padding: $gap8*3
    @extend %card
    +flex(flex, center, center, nowrap)

    &::before
        content: ""
        +sz(0, 0)
        padding-top: 100%
        
    &__wrap
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr))
        gap: $gap8*5

    &__content
        position: relative
        flex: 1
        +flex(flex, center, space-between, nowrap)
        flex-direction: column
        height: 100%
        padding: $gap8*3
        text-align: center

    &__title
        margin-bottom: $gap8*3
        //+ft(26, 26*1.4, 700)
        +ft(22, 22*1.4, 700)
        letter-spacing: 0.02em

    &__img
        position: absolute
        inset: 0
        +sz(100%, 100%)

        &::after
            content: ''
            position: absolute
            display: block
            +sz(100%, 100%)
            background-color: rgba($dark4, 0.6)

        img
            position: absolute
            inset: 0
            margin: auto
            +sz(100%, 100%)
            //+sz(calc(100% - 48px), calc(100% - 48px))
            object-fit: cover
            border-radius: var(--brs28)

            +maw($xxs)
                border-radius: $gap8*2

    &__auth
        +flex(flex, center, center, wrap)
        gap: $gap8
        +ft(16, 16*1.2, 700)

        &_img
            display: block
            +sz(46px, 46px)
            border-radius: 50%

    +maw($md)
        &__wrap
            grid-template-columns: 1fr 1fr

        &__title
            +ft(18, 18*1.4, 700)
    
    +maw($xsm)
        &__wrap
            grid-template-columns: 1fr

    +maw($xxs)
        border-radius: $gap8*2

        &__wrap
            row-gap: $gap8

        &__content
            padding: 0

