.btn
    &s
        +flex(inline-flex, center, center, nowrap)
        gap: 20px

        +maw($sm)
            flex-wrap: wrap

    +flex(inline-flex, center, center, nowrap)
    gap: $gap8
    min-width: 160px
    max-height: 58px
    //padding: 22px $gap16*3
    padding: 20px 30px
    background: $main
    backdrop-filter: blur(6px)
    border: none
    border-radius: $brs
    color: $white
    text-align: center
    //+ft(20, 20, 500)
    +ft(16, 16*1, 700)
    letter-spacing: 0.05em
    transition: $trs
    
    &:hover, &:active, &:focus
        background-color: darken($main, 5%)
        color: $white
        appearance: none
    
    b
        +flex(flex, center, center, nowrap)
        +sz(42px, 42px)
        margin-left: -21px
        margin-right: $gap8
        background-color: $dark5
        border-radius: 50%

    &--bd
        background: transparent
        border: 2px solid $main
        b
            display: none

    +maw($md)
        +ft(14, 14, 500)

    +maw($xs)
        min-width: 0
        text-transform: uppercase
        +ft(11, 11*1, 700)

    &__group
        +flex(flex, center, center, nowrap)
        gap: $gap8*4

    &_text
        +ft(20, 20, 500)
        letter-spacing: 0.01em
        color: $white
        background: transparent
        border: none
        &:hover, &:active, &:focus
            color: $main

    &_play
        +flex(flex, center, center, nowrap)
        +sz(60px, 60px)
        background-color: $main
        box-shadow: 0 0 0 10px rgba($main, 0.5)
        border-radius: 50%
        border: none
        transition: $trs

        svg
            +sz(16px, 16px)

    &_top
        +ps(fixed, (r, 10px), (b, 10px))
        +flex(flex, center, center, wrap)
        +sz(40px, 40px)
        +theme(dark2)
        border: none
        svg
            fill: $grey1
        
.lang-switcher
    button
        +flex(flex, center, center, nowrap)
        padding: 0
        border: none
        background: transparent
        color: inherit
        text-transform: uppercase
        letter-spacing: 0.1em
        svg
            +sz(20px, 20px)
    .dropdown-menu
        min-width: 140px 
        margin-top: 10px   
        left: auto
        right: 0
        li button
            width: 100%   
            padding: 4px 8px
            background: transparent
            border: none
            color: $grey1
            text-transform: uppercase
            &:hover, &:active, &:focus
                color: $white
    +maw($md)
        button
            padding: 0
            background: transparent
            &:hover, &:active, &:focus
                background-color: transparent
            svg
                +sz(18px, 18px)
                margin-right: 8px
    +maw(480)
        font-size: 12px

.switch
    position: relative
    +flex(flex, center, center, nowrap)
    +sz(54px, 28px)

    &__slide
        +flex(flex, center, space-between, nowrap)
        +ps(absolute, (t, 0), (l, 0), (r, 0), (b, 0))
        padding: 0 6px
        border: 1px solid $white
        border-color: inherit
        border-radius: 18pc
        transition: all .35s ease-in-out
        cursor: pointer

        svg
            +sz(17px, 17px)
            color: $black
            &:last-of-type
                color: $white

        &::before
            content: ""
            +ps(absolute, (t, 0), (l, 4px), (b, 0))
            z-index: -1
            margin: auto
            +sz(22px, 22px)
           
            background-color: $white
            border-radius: 50%
            transition: all .35s ease-in-out

    input
        opacity: 0
        +sz(54px, 28px)
        z-index: 1
        cursor: pointer

        // &.active + .switch__slide, &:checked + .switch__slide
        // 	border-color: $black
            
        &.active + .switch__slide, &:checked + .switch__slide
            &::before
                transform: translateX(23px)
                background-color: $white

            svg
                color: $white
                &:last-child
                    color: $black
