.socials
    +flex(flex, center, center, nowrap)
    gap: $gap8
    a
        +flex(flex, center, center, nowrap)
        padding: $gap8*1.5
        border-radius: $gap8/2
        background-color: $white
        transition: $trs
        &:hover, &:active, &:focus
            background-color: $main
            fill: $white