html, body 
    height: 100%
    //min-height: 100vh
    font-family: $ffText
    scroll-behavior: smooth

body
    background-color: $white
    @extend %scroll

*
    //user-select: none
    &::selection
        background-color: $main
        color: $white 
        opacity: 1

a
    text-decoration: none
    color: inherit
    &:hover, &:focus
        text-decoration: none
        color: $black

img
    user-select: none

button, a, input 
    &:hover, &:active, &:focus
        appearance: none
        outline: none
        box-shadow: none 

.page
    &__body
        display: flex
        flex-direction: column

    &__wrapper
        display: flex
        flex: 1 0 auto
        flex-wrap: nowrap
        flex-direction: column
        
    &__content
        display: flex
        flex-direction: column
        flex: 1
        width: 100%
        margin-left: auto
        margin-right: auto

        .container
            display: flex
            flex-direction: column
            gap: 0

    &__text
        max-width: 960px
        margin: 0 auto 
        padding: $gap8*10 $gap8*4
        +ft(13, 13*1.6, 400)
        letter-spacing: 0.05em

        & > *:first-child
            margin-top: 0

        h1, h2, h3, h4, h5, h6
            margin-top: $gap8*4
            margin-bottom: $gap8*2
            +ft(20, 20*1.4, 800)

        p
            color: rgba($white, 0.5)

        +maw($xs)
            padding: $gap8*3 $gap8

    &__single
        display: grid
        grid-template-columns: auto 1fr
        max-width: 900px
        gap: $gap8*4
        margin: var(--gap100) auto

        +maw($sm)
            grid-template-columns: 1fr

        div
            & > :first-child
                margin-top: 0

        h1, h2, h3, h4, h5, h6
            margin-top: $gap8*4
            margin-bottom: $gap8*2
            letter-spacing: 0.05em

        h1, h2
            +ft(24, 24*1.4, 800)
        
        h3, h4, h5, h6
            +ft(22, 22*1.4, 800)

        a
            text-decoration: underline
            word-break: break-word
            white-space: pre-wrap
            color: $main

        p, li
            +ft(14, 14*1.4, 400)
            opacity: 0.8