{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="page__content">
    <div class="container">

        {{ "<!-- Section -->" | safeHTML }}
        <article class="header__wrap">
            {{- partial "header.html" . -}}
            {{- partial "_hero-news-hero.html" . -}}
            
            {{ $paginator := .Paginate (where $.Site.RegularPages "Section" "news") }} 
            <div class="blogs__wrap">
            {{ range $paginator.Pages }}
                {{- partial "_news-item.html" . -}}
            {{ end }} 
            </div>  
            {{- partial "_pagination.html" . -}}

        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

        {{ "<!-- Section -->" | safeHTML }}
        <article class="hero__wrap">
            {{- partial "_hero-news.html" . -}}
        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

    </div>
</div>

{{ "<!-- Section -->" | safeHTML }}
    {{ if $data.common.subscribe }} 
    {{ with $data.common.subscribe }}
        {{- partial "_subscribe.html" . -}}
    {{ end }} 
    {{ end }}
{{ "<!-- End of Section -->" | safeHTML }}



<div class="container">
    {{- partial "_footer.html" . -}}
</div>
{{ end }}