{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage }}
<style>
</style>
{{ end }}


{{ "<!-- Hero Section -->" | safeHTML }}
{{ "<!-- End of Hero Section -->" | safeHTML }}

<div class="page__content">
    <div class="container">
        {{ "<!-- Section -->" | safeHTML }}
        <article class="hero__wrap">
            {{ partial "header.html" . }}
            {{ partial "_hero.html" . }}
        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

        {{ "<!-- Section -->" | safeHTML }}
        <article class="article">

            <div>
                {{ .Scratch.Set "label" "Workflow" }}
                {{ .Scratch.Set "title" "Epicurus Investment Tools" }}
                {{- partial "_hgroup.html" . -}}
            </div>

            <div class="article__inner">
                {{ "<!-- Section -->" | safeHTML }}
                {{ if $data.homepage.section_4 }} 
                {{ with $data.homepage.section_4 }}
                    {{- partial "_section-1.html" . -}}
                {{ end }}
                {{ end }}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>

            <div class="article__inner">
                {{ "<!-- Section -->" | safeHTML }}
                {{ if $data.homepage.section_5 }} 
                {{ with $data.homepage.section_5 }}
                    {{- partial "_section-1.html" . -}}
                {{ end }}
                {{ end }}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>

            <div class="article__inner">
                {{ "<!-- Section -->" | safeHTML }}
                {{ if $data.homepage.section_6 }} 
                {{ with $data.homepage.section_6 }}
                    {{- partial "_section-1.html" . -}}
                {{ end }}
                {{ end }}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>
       
            <div class="my-4">
                {{ "<!-- Section -->" | safeHTML }}
                {{ .Scratch.Set "label" "Benefits" }}
                {{ .Scratch.Set "title" "New Investments Possibilities" }}
                {{- partial "_hgroup.html" . -}}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>

             <div class="article__inner mt-0 mt-sm-5">
                {{ "<!-- Section -->" | safeHTML }}
                {{ if $data.homepage.section_7 }} 
                {{ with $data.homepage.section_7 }}
                    {{- partial "_section-2.html" . -}}
                {{ end }}
                {{ end }}
                {{ "<!-- End of Section -->" | safeHTML }}
            </div>
        </article>
        {{ "<!-- End of Section -->" | safeHTML }}

        {{ "<!-- Section -->" | safeHTML }}
        {{ if $data.common.subscribe }} 
        {{ with $data.common.subscribe }}
            {{- partial "_subscribe.html" . -}}
        {{ end }} 
        {{ end }}
        {{ "<!-- End of Section -->" | safeHTML }}
    </div>
</div>

<div class="container">
    {{- partial "_footer.html" . -}}
</div>
{{ end }}